@use "./constants" as const;

.about {
  margin-top: 100px;
}

.about__container {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.about__heading {
  font-size: 6rem;
  line-height: 125%;
  color: light-dark(const.$primary-color, const.$dark-primary-color);
  & > span {
    font-style: italic;
    color: const.$accent-color;
  }
  @media (max-width: 767px) {
    font-size: 3.2rem;
  }
}

.about__images {
  display: grid;
  grid-template-columns: 660px 660px;
  gap: 40px;
  @media (max-width: 1440px) {
    grid-template-columns: 44vw 44vw;
  }
  @media (max-width: 1000px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  justify-content: center;
}

.about__image {
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 1000px) {
    &.about__image_none {
      display: none;
    }
  }
  align-items: baseline;
}

.about__container-right {
  display: grid;
  grid-template-rows: 430px 590px;
  @media (max-width: 1440px) {
    grid-template-rows: 28vw 41vw;
  }
  @media (max-width: 1000px) {
    grid-template-rows: auto;
  }
  gap: 40px;
}

.about__container-left {
  display: grid;
  grid-template-rows: 590px 430px;
  @media (max-width: 1440px) {
    grid-template-rows: 41vw 28vw;
  }
  @media (max-width: 1000px) {
    grid-template-rows: auto;
  }
  gap: 40px;
}

.about__image_on {
  @media (max-width: 1000px) {
    aspect-ratio: 690/590;
    max-width: 690px;
    max-height: 590px;
  }
}
