@use "./constants" as const;

.about {
  margin-top: 100px;
}

.about__container {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.about__heading {
  font-size: 6rem;
  line-height: 125%;
  color: light-dark(const.$primary-color, const.$dark-primary-color);
  & > span {
    font-style: italic;
    color: const.$accent-color;
  }
}

.about__images {
  display: grid;
  grid-template-columns: 660px 660px;
  gap: 40px;
}

.about__image {
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__container-right {
  display: grid;
  grid-template-rows: 430px 590px;
  gap: 40px;
}

.about__container-left {
  display: grid;
  grid-template-rows: 590px 430px;
  gap: 40px;
}
