//text colors

$primary-color: #403f3d;
$inverse-color: #e1d4c9;
$accent-color: #b0907a;

$dark-primary-color: #e1d4c9;
$dark-inverse-color: #403f3d;
$dark-accent-color: #b0907a;

//background colors

$page-color: #e1d4c9;
$container-color: #665f55;
$overlay-color: rgba(64, 63, 61, 0.8);

$dark-page-color: #292826;
$dark-container-color: #403f3d;
$dark-overlay-color: rgba(41, 40, 38, 0.8);

//border-colors

$primary-bd-color: #c1b6ad;
$inverse-bd-color: #665f55;

$dark-primary-bd-color: #665f55;
$dark-inverse-bd-color: #c1b6ad;
