@use "./constants" as const;

$text-color: light-dark(const.$primary-color, const.$dark-primary-color);

$logo-light: url("imgs/header/logo.png");
$logo-dark: url("imgs/header/logo-dark.png");

$menu-light: url("imgs/svgs/header/coffee-cup.svg");
$menu-dark: url("imgs/svgs/header/coffee-cup-dark.svg");

$menu-logo: light-dark($menu-light, $menu-dark);

$border-color: light-dark(
  const.$dark-primary-bd-color,
  const.$primary-bd-color
);

$sun-light: url("imgs/svgs/header/Sun.svg");
$sun-dark: url("imgs/svgs/header/Sun-dark.svg");

$sun-icon: $sun-light;

$moon-light: url("imgs/svgs/header/Moon-light.svg");
$moon-dark: url("imgs/svgs/header/Moon.svg");

$moon-icon: light-dark($moon-dark, $moon-light);

.header {
  margin-top: 20px;
}

.header__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo__link {
  display: block;
  width: 100px;
  height: 60px;
  background-image: light-dark($logo-light, $logo-dark);
}

.header__navigation-container {
  max-width: 500px;
  width: 100%;
}

.header__navigation-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @media (max-width: 768px) {
    display: none;
  }
}

.header__navigation-link {
  font-style: normal;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 150%;
  color: $text-color;
  transition: border 0.3s ease-in-out;
  border-bottom: 2px solid transparent;
  &:hover {
    border-bottom-color: $border-color;
  }
}

.header__themes,
.header__menu-link {
  display: inline-flex;
  flex-direction: row;
  column-gap: 8px;
}

.header__themes {
  border: 1px solid $border-color;
  border-radius: 100px;
  padding: 4px;
}

.header__radio-label {
  cursor: pointer;
  display: block;
  width: 36px;
  height: 36px;
  transition: background-color ease-in-out 0.5s;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  &:hover {
    background-color: light-dark(
      const.$primary-bd-color,
      const.$dark-primary-bd-color
    );
  }
}

.header__menu-settings {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 8px;
}

.header__menu-link {
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 150%;
  color: $text-color;
  transition: border 0.3s ease-in-out;
  border-bottom: 2px solid transparent;

  &::after {
    display: block;
    width: 20px;
    height: 20px;
    content: "";
    background-image: $menu-logo;
  }

  &:hover {
    border-bottom-color: $border-color;
  }
}

.radio-light {
  background-image: $sun-icon;
  background-color: light-dark(const.$accent-color, transparent);
}

.radio-dark {
  background-image: $moon-icon;
  background-color: light-dark(transparent, const.$accent-color);
}

#theme-light,
#theme-dark {
  display: none;
}

.header__menu-link-container {
  @media (max-width: 768px) {
    display: none;
  }
}

.header__burger-navigation {
  border: 1px solid $border-color;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: none;
  position: relative;
  @media (max-width: 768px) {
    display: block;
  }
}

.burger-line {
  display: inline-block;
  width: 20px;
  height: 2px;
  border-radius: 10px;
  background-color: $border-color;
  position: absolute;
}

.burger__top-line {
  left: 12px;
  top: 17px;
}

.burger__bottom-line {
  left: 12px;
  top: 25px;
}
